{% extends "home/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Upcoming Events</h2>
        </div>
    </div>
    {% with self.events.all as events %}
        {% if events %}
            {% for event in events %}
              {% include "home/includes/event_list_item.html" %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% include "home/includes/footer.html" %}
{% endblock %}
