<h4>Hi {{user.first_name}},</h4>
<p>A user account linked to your email has been created on the Konza website.</p>
<p>The email and password to login to the website are as given below:</p>
<p>Email: {{user.email}}</p>
<p>Employee Number: {{user.employee_number}}</p>
<p>Password: {{user_password}}</p>

<p>Click on the link given below to login.</p>
<a href="{{login_url}}">Login to Konza</a>

<h4>Note:</h4>

<p style="padding-left:10px;">1. You will be required to change your password once you log in for the first time.</p>
<p style="padding-left:10px;">2. You can use either your email or your employee number to login to Konza.</p>

<p>If you have issues regarding this information contact the MFL team using the email <a href="support@palvac.co.ke">support@palvac.co.ke</a></p>
<br>

<p>Warm Regards,</p>

<p>The Konza City Development Team <a href="palvac.co.ke">palvac.co.ke</a></p>
