<!--footer start from here-->
<footer id="footer">
<!--footer start from here-->
    <div class="copyright">
        <div class="container ">
            <div class="footer-column col-sm-4">
                <h5 class="footer-title">Our Address</h5>
                <p>
                    <iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.159625931827!2d36.793338664870696!3d-1.3009312909259727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10bde2c920ab%3A0x535c52be7fb5fbb0!2sNew+Hurlingham+Plaza!5e0!3m2!1sen!2s!4v1466003721787" width="230" height="100" frameborder="1" style="border:1" allowfullscreen></iframe>
                </p>
                <p>
                    APA Plaza, Hurlingham, Agrwings Kodhek Road, Nairobi <br>
                    P.O. Box 41361-00100 Nairobi
                </p>
                <h5 class="footer-title">Hours of Operation</h5>
                <p>
                    Mon to Fri 9am to 5pm
                    Weekends 9am to 12am
                </p>


            </div>

            <div class="footer-column col-sm-3">
                <h5 class="footer-title">Secretariat</h5>
                <p>
                    <a href="mailto:info@kehia.org" target="_blank">
                    info@kehia.org</a>
                </p>
                <h5 class="footer-title">Chairman</h5>
                <p>
                    Tom Oluoch <br>
                    <a href="mailto:chairman@kehia.org" target="_blank">chairman@kehia.org</a>
                </p>

                <h5 class="footer-title">Treasurer</h5>
                <p>
                    Dr. Martin Osumba <br>
                    <a href="mailto:treasurer@kehia.org" target="_blank">treasurer@kehia.org</a>
                </p>

                <h5 class="footer-title">Secretary</h5>
                <p>
                    Steven Wanyee <br>
                    <a href="mailto:secretary@kehia.org" target="_blank">secretary@kehia.org</a>
                </p>
            </div>

            <div class="footer-column col-sm-5">
                <h5 class="footer-title">SUBSCRIBE TO KeHIA UPDATES</h5>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>
                <br>
                <h5 class="footer-title">Social Links</h5>
                    <p>
                        <a href="https://www.facebook.com/kenyahealthinformaticsassociation/" target="_blank">
                        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> KEHIA</a>
                    </p>

                    <p>
                        <a href="https://twitter.com/" target="_blank">
                        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i> @kehia</a>
                    </p>
            </div>
        </div>
      <div class="container">
        <div class="col-xs-12">
          <p class="text-center"> Powered by <a href="www.savannahinformatics.com">Savannah Informatics</a></p>
        </div>
      </div>
    </div>
</footer>
