{% load wagtailimages_tags %}

<div class="container">
    <h2 class="section-title col-xs-12">Why become a member?</h2>
</div>
<div class="featurette">
    <div class="container">
        <h3 class="section-title col-xs-12">Create legislation</h3>
        <div class="col-md-8">
        <p>Create legislation that beyond regulation, will promote innovation and business opportunities.</p>
        </div>
        <div class="col-md-4 text-center">
        <span class="fa-stack fa-3x">
             <i class="fa fa-file-text-o fa-stack-2x"></i>
        </span>
        </div>
    </div>
</div>
<div class="featurette-alternate">
    <div class="container">
        <h3 class="section-title col-xs-12">Health informatics research</h3>
        <div class="col-md-8">
            <p>Conduct cutting edge health informatics research generating and translating evidence into knowledge and applying that knowledge in continuously in solving our health needs.</p>
        </div>
        <div class="col-md-4 text-center">
            <span class="fa-stack fa-3x">
                <i class="fa fa-book fa-stack-2x"></i>
                <i class="fa fa-book fa-stack-2x"></i>
            </span>
        </div>
    </div>
</div>
<div class="featurette">
    <div class="container">
        <h3 class="section-title col-xs-12">Be part of the front line</h3>
        <div class="col-md-8">
        <p>You get to take part in the effort to seize and utilize the utility value of comprehensive and appropriate implementation of Health Information Technology (HIT) in Kenya.</p>

        <p>Take part in forums through working groups of your interest which could support initiatives to improve and sustain high quality and effective health services for all Kenyans.</p>
        </div>
        <div class="col-md-4 text-center">
        <i class="fa fa-users fa-5x" aria-hidden="true"></i>
        </div>
    </div>
</div>
<div class="featurette-alternate">
    <div class="container">
        <h3 class="section-title col-xs-12">Networks</h3>
        <div class="col-md-8">
            <p>
                Create networks with professionals in the field of health and health informatics through the online membership directory.
                Gain social and professional networks through working groups for collaborations, advisors and colleagues.
            </p>
        </div>
        <div class="col-md-4 text-center">
        <i class="fa fa-sitemap fa-5x" aria-hidden="true"></i>
        </div>
    </div>
</div>
<div class="featurette">
    <div class="container">
        <h3 class="section-title col-xs-12">Discounts</h3>
        <div class="col-md-8">
            <p>
                Get access to health and health informatics journals through the association at discounted rates.
                Discounted rates for meetings and conferenece organized, sponsored or co-sponsored by KeHIA.
                Corporates can market their products through the association website and journal at discounted rates.
            </p>
        </div>
        <div class="col-md-4 text-center">
        <i class="fa fa-credit-card fa-5x" aria-hidden="true"></i>
        </div>
    </div>
</div>
