<div class="container">
    <h2 class="section-title col-xs-12">Memberships</h2>
</div>
<div class="member-types container">
    <div class="member-type col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading transparent text-center">
                <h2 class="panel-title">
                    Student <br>
                    <small>Ksh. 1,000</small>
                </h2>
            </div>
            <div class="panel-body text-center">
                <ul>
                    <li>Access to membership directory</li>
                </ul>
            </div>
        </div>
        <div class="join-now">
            <button class="btn btn-success">Join Now</button>
        </div>
    </div>

    <div class="member-type col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading transparent text-center">
                <h2 class="panel-title">
                    Associate <br>
                    <small>Ksh. 5,000</small>
                </h2>
            </div>
            <div class="panel-body text-center">
                <ul>
                    <li>Access to membership directory</li>
                    <li>Discounted meetings and conferences</li>
                </ul>
            </div>
        </div>
        <div class="join-now">
            <button class="btn btn-success">Join Now</button>
        </div>
    </div>

    <div class="member-type col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading transparent text-center">
                <h2 class="panel-title">
                    Individual <br>
                    <small>Ksh. 5,000</small>
                </h2>
            </div>
            <div class="panel-body text-center">
                <ul>
                    <li>Access to membership directory</li>
                    <li>Discounted meetings and conferences</li>
                    <li>Discounted journals</li>
                </ul>
            </div>
        </div>
        <div class="join-now">
            <button class="btn btn-success">Join Now</button>
        </div>
    </div>

    <div class="member-type col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading transparent text-center">
                <h2 class="panel-title">
                    Corporate <br>
                    <small>Ksh. 10,000</small>
                </h2>
            </div>
            <div class="panel-body text-center">
                <ul>
                    <li>Access to membership directory</li>
                    <li>Discounted meetings and conferences</li>
                    <li>Discounted journals</li>
                    <li>Discounted product marketing</li>
                    <li>Project networking</li>
                </ul>
            </div>
        </div>
        <div class="join-now">
            <button class="btn btn-success">Join Now</button>
        </div>
    </div>
</div>